@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px 5% 0px 5%;
}

header nav h1{
    color: #d33bfd;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}

header nav p{
    margin: 0 15px;
    color: #ccc;
}

header nav p:hover {
    cursor: pointer;
    color: white;
}

header nav button{
    background: none;
    color: #d33bfd;
    border: 1px solid #d33bfd;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 1em;
}

header {
    background: linear-gradient(#13181d, #20212e, #341b47);
    color: white;
}

.right{
    display: flex;
    align-items: center;
}

.presentation-first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    margin-top: 5%;
}

.presentation-text{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}

.presentation-first .presentation-text button{
    background-color: #d33bfd;
    color: white;
    border: 1px solid #d33bfd;
    transition: background-color 0.5s, color 0.5s;
}

.presentation-first .presentation-text button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.presentation-first .presentation-text button:hover{
    background: none;
    color: #d33bfd;
    border: 1px solid #d33bfd;
}

.presentation-first img{
    width: 100%;
}

.presentation-second img{
    width: 100%;
}

.presentation-image{
    width: 53%;
}

.presentation-text h1 {
    margin: 0;
    font-size: 4vw;
    width: 80%;
}

.presentation-text p {
    font-weight: 300;
    color: #e9e9e9;
}

.small-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
}

.small-images .small {
    padding: 20px;
    background-color: #33314d;
    margin: 0 15px 15px 0;
    border-radius: 20px;
    transition: filter 0.5s;
}

.small-images .small:hover{
    filter: brightness(0.6);
}

.small-images img{
    width: 120px;
}

.presentation-second{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    margin-top: 5%;
    margin: 0;
    background-color: #13181d;
}

.presentation-second .new-product {
    color: #d33bfd;
}



.presentation-second .presentation-text button:hover{ 
    background-color: #d33bfd;
    color: white ;
    border: 1px solid #d33bfd;
    transition: background-color 0.5s, color 0.5s;
}

.presentation-second .presentation-text button {
    background: none;
    color: #d33bfd;
    border: 1px solid #d33bfd;
}

.presentation-second button{
        margin-top: 20px;
        padding: 15px 20px;
        font-size: 15px;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
}

footer{
    margin: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


footer .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ccc;
}

footer .column p{
    margin: 5px 0;
}

footer .column p:hover{
    cursor: pointer;
    color: white;
}

footer .column h3{
    margin: 10px 0;
    color: #d33bfd;
}

:root {
    --violet: #d33bfd;
}

.sidebars-ouvert{
    display: none;
}

/* responsive */

@media (max-width: 768px){

    .sidebars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .sidebars div{
        width: 100%;
        height: 3px;
        background-color: #d33bfd;
    }

    .sidebars.open div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 10px);
    }
    
    .sidebars.open div:nth-child(2) {
        opacity: 0;
    }
    
    .sidebars.open div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -10px);
    }

    .sidebars-ouvert.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #d33bfd;
        position: absolute;
        top: 10%;
        right: 0;
        width: 50%;
        height: 100vh;
        z-index: 1000;
    }

    .sidebars-ouvert.open button{
        background: none;
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 1em;
        margin-top: 20px;
    }

    .sidebars-ouvert.open button:hover{
        background-color: white;
        color: #d33bfd;
    }

    .right{
        display: none;
    }

    .right button{
        display: none;
    }


    header nav{
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    header div{
        align-items: center;
    }

    header nav p{
        margin: 0;
        display: none;
    }

    header nav button{
        display: none;
        margin-top: 20px;
    }

    .presentation-first{
        flex-direction: column;
    }

    .presentation-first img{
        width: 80%;
    }

    .presentation-text{
        align-items: center;
    }

    .presentation-text p{
        text-align: center;
    }

    .presentation-text h1{
        font-size: 6vw;
        text-align: center;
    }

    .presentation-image img{
        width: 100%;
        align-items: center;
        align-content: center;
    }

    .presentation-image{
        margin-top: 5%;
    }


    .small-images{
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
    }

    .small-images .small {
        width: 25%;
    }

    .small-images img{
        width: 100%;
    }

    .presentation-second{
        flex-direction: column;
    }

    .presentation-second img{
        width: 100%;
    }

    .presentation-second .presentation-image img{
        width: 120%;
        align-items: center;
        align-content: center;
    }

    .presentation-second .presentation-text button{
        margin-top: 20px;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    footer .column{
        align-items: center;
    }

    footer .column h3{
        margin-top: 20px;
    }
}